/******************************* header *********************************/
header {
  display: flex;
  border: solid;
  justify-content: space-between;
  background-color: blue;
  width: 100%;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9)
}

.header {
  margin: 50px;
  padding:  0 50px 0 0;
}

.nav {
  margin: 50px;
  text-decoration: none;
  color: white;
}

.header-img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
/******************************* header *********************************/
/******************************* body *********************************/

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  width: 100%;
  height: 100%;
  background-color: grey;
}


.body-img {
  width: 500px;
  height: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: black;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9)
  /* box-shadow: 10px 10px; */
}

.body-img-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .body-img-text-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 500px; */
  }

    .body-img-text {
      display: flex;
      flex-direction: column;
      padding-left: 100px;
    }

/******************************* bio-body *********************************/


.bio-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding: 25px;
  margin: 25px;
}

.bio-left {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin: 25px;
  border: solid;
  background-color: white;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9)
}

.bio-right {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  margin: 25px;
  border: solid;
  background-color: white;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9)
}

/******************************* bio-body *********************************/
/******************************* portfolio *********************************/

.portfolio-cards {
  margin: 0 50px 50px 50px;
  padding:  0 50px 50px 50px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards-1 {
  border: solid;
  margin: 100px;
  padding: 100px;
  display: flex;
  border-radius: 18%;
  background-color: white;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9)
}

/******************************* portfolio *********************************/

/******************************* links *********************************/

.links-cards {
  margin: 0 50px 50px 50px;
  padding:  0 50px 50px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.links-cards-1 {
  border: solid;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 5px 5px teal;
  color: white;
  margin: 15px;
  padding: 15px;

}

/******************************* links *********************************/

/******************************* resume *********************************/

.resume-img {
 border: solid;
}

#popup-container {
  width: 45%;
  height: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  display: none;
}

#close-btn {
  float: right;
  cursor: pointer;
}

#show-popup-button {
  background-color: blue;
  color: white;
}

/******************************* resume *********************************/



/******************************* carousel *********************************/
.carousel {
  position: relative;
  height: 600px;
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9);
}

.carousel_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  border: none;
}

.carousel_button img {
  width: 50px;
  height: 50px;
}

.carousel_button-left {
  left: -100px;
}

.carousel_button-right {
  right: -50px;
}

/******************************* carousel *********************************/
/******************************* body *********************************/
/******************************* footer *********************************/

.footer {
  display: flex;
  justify-content: space-around;
  border: solid;
  margin-top: 50px;
  background-color: blue;
  box-shadow: 5px 5px 15px rgb(0,0,0,.9)
}

.footer-img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.nav-footer {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.email-footer {
  margin-top: 5px;
  text-align: center;
}

/******************************* footer *********************************/
